<a href="https://colab.research.google.com/github/sabir-suleyman/BMB2014---PPG/blob/main/13_03_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

`random.random()` kullanımı:

In [ ]:
for i in range(5):
  print(random.random())

0.18373273534997325
0.26885463055886916
0.4232450615258443
0.46352065953452937
0.0034154527647032307

`random.randint()` kullanımı: (2 parametre alıyor)

In [ ]:
for i in range(5):
  print(random.randint(1,10))

6
7
8
4
9

`random.randrange()` kullanımı:

In [ ]:
for i in range(5):
  print(random.randrange(1,10))

4
4
1
2
6

`random.seed()` kullanımı. Bu metot üretilen random sayıların her seferinde aynı kalmasını sağlıyor.

In [ ]:
random.seed(5)
for i in range(5):
  print(random.randrange(1,10))

5
6
9
1
8

`random.randrange()` fonksiyonu input parametre olarak tek değer almışsa bu değer üst sınırı belirtir ve `range()` fonksiyonunda olduğu gibi döngüye dahil değildir.

In [ ]:
random.seed(10)
for i in range(7):
  print('T' if random.randrange(2) == 1 else 'F')

F
T
T
F
F
T
T

**Ödev:** Elimizde 2 adet zarımız var. Bu zarların herbiri 1-6 arasında değerler almaktadır. Atılan zarların toplamları 7 veya 11 ise oyuncu kazanmakta, 2 , 3 veya 12 ise kaybetmektedir. Bunların dışında gelen her toplam sayı oyuncunun puanı olmakta ve oyuncu kazanana/kaybedene kadar oyun devam etmektedir.

In [ ]:
import random
def zarAt():
  zar = random.randint(1,6)
  return zar

print("Oyuna hosgeldiniz!")
puan = 0
while True:
  zar1 = zarAt()
  zar2 = zarAt()
  print(zar1)
  print(zar2)
  if zar1+zar2 == 7 or zar1+zar2 == 11:
    print("Kazandiniz!")
    print(f'Puaniniz: ',puan)
    break
  if zar1+zar2 == 2 or zar1+zar2 == 3 or zar1+zar2 == 12:
    print("Kaybettiniz...")
    print(f'Puaniniz: ',puan)
    break
  else:
    puan = zar1+zar2
    print(f'Puaniniz: ',puan)
    print("Bir sonraki asamaya geciliyor...")

Oyuna hosgeldiniz!
1
5
Puaniniz:  6
Bir sonraki asamaya geciliyor...
1
2
Kaybettiniz...
Puaniniz:  6

#**Scope`lar**
Bir değişken tanımlandığı yere göre değeri değişebilmektedir Örn. aşağıdakı kod parşasında global scope da tanınmış olan x değişkenine 100 değeri atanmış. Aynı zamanda `deneme()` fonksiyonunun içinde de x değişkeni tanımlandığını görebilirsiniz. Fonksiyon içindeki x değişkeninin değerini ne kadar değiştirirsek değiştirelim global scopeda tanımlanmış olan x değişkeninin değerine etki edemeycektir:

In [ ]:
x = 100

def deneme():
  x = 12
  print(f"x in fonksiyon icinde degeri: {x}")

deneme()
print(f"x in global scopedaki degeri: {x}")

x in fonksiyon icinde degeri: 12
x in global scopedaki degeri: 100

Eğer fonksiyon içindeki x değişkeninin değerinin de global scopeda geçerli olmasını istiyorsanız ozaman `global` keywordunu kullanamınız gerekmektedir:

In [ ]:
x = 100

def deneme():
  global x 
  x = 12
  print(f"x in fonksiyon icinde degeri: {x}")

deneme()
print(f"x in global scopedaki degeri: {x}")

x in fonksiyon icinde degeri: 12
x in global scopedaki degeri: 12

#**Kutuphanelerin import edilmesi**

A.ağıdaki örnekte `random` kütüphanesi 2 farklı şekilde import edilmiştir. 1.örnekte komple `random` kütüphanesi import edilirken, diğerinde sadece `random` kütüphanesinin `randrange` sınıfı import edilmiştir. Örneklerin birbirinden farkı bulunduğu hücrelerde belirtilmiştir:

In [ ]:
import random  # random.randrange() olarak cagirilir

In [ ]:
from   random import randrange  #randrange() olarak cagirilir

Herhangi kütüphanede bulunan bir değişkene değer atadıktan sonra o kütüphaneyi import ettiğimizde birtakım sıkıntılarla karşılaşabiliriz. Örnek olarak `e` değişkeni ile başlayalım. Bildiğiniz gibi `e` matematikte sabit bir sayıya (*2.718281828459045*) eşittir. Şimdi `math` kütüphanesi import etmeden önce ona bir değer atayalım:

In [ ]:
e = 5324

In [ ]:
from math import *   #import math ile ayni anlama gelmektedir

Bu işlemi gercekleştirdikden sonra `e` nin değerinin `math` kütüphanesinde bulunan değerine (*2.718281828459045*) eşitlendiğini görebiliriz:

In [ ]:
e

Bu tarz sıkıntıları yaşamamak için import edeceğiniz kütüphanenin sadece kullanacağınız sınıflarını çağırmağınız sizin için kolaylık sağlar ve kod karmaşıklığını önler:

In [ ]:
from math import sqrt

##Kütüphane kısaltılışı
Kütüphane isimlerini yazacağımız kodda tekrar tekrar kullanacağımız zamanlarda bu isimleri başta kütüphane ismini yazmamamız kod parçamızın okunabilirliğini arttırır. Örn:

In [ ]:
import pandas

pandas.pd.read_csv("deneme.csv")

In [ ]:
import pandas as pd   
 
pd.read_csv("deneme.csv")   #pandas. yazmamiza gerek kalmadi

In [ ]:
import numpy as np

##Kolleksiyonlar
Pythonda tanımlı olan 4 kolleksiyon var: `list`, `tuple`, `set` ve `dict`. Bu kolleksiyonlar dinamik olarak boyutlandırılabilen ve herbirinin birbirine göre farklılığı olan veri yapılarıdır.

Liste veri yapısı:

In [ ]:
l = [10,20,30,40,50]

In [ ]:
l

[10, 20, 30, 40, 50]

In [ ]:
type(l)

list

Liste için kullanabileceğimiz fonksiyonlar: (bazıları özel)

In [ ]:
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Listelerin diğer veri yapılarından en önemli farklarından birisi elemanlarının farklı veri tiplerinde (veri yapısı da olabilir) olabilmesidir:

In [ ]:
liste1 = [1,"A",[1,2,3,4,5,6],(10,20,30,40)]

In [ ]:
liste1

[1, 'A', [1, 2, 3, 4, 5, 6], (10, 20, 30, 40)]

Tıpkı dizilerde olduğu gibi indeksle elemanlara erişebilmek mümkündür:

In [ ]:
print(liste1[0])
print(liste1[2])
print(liste1[2][3])
print(liste1[-1])
print(liste1[-1][-2])

1
[1, 2, 3, 4, 5, 6]
4
(10, 20, 30, 40)
30

In [ ]:
a=1
b=2
liste1[a+b]

(10, 20, 30, 40)

Liste içerisinde indeks kullanarak eleman değiştirmek mümkündür: (***Önemli*** bir özellik)

In [ ]:
liste1[1] = "Sabir"
print(liste1)

[1, 'Sabir', [1, 2, 3, 4, 5, 6], (10, 20, 30, 40)]

Liste ve for döngüsü

In [ ]:
liste2 = [0,1,2,3,4]
for i in liste2:
  print(liste2[i])

0
1
2
3
4

In [ ]:
liste3 = []

for i in range(6):
  liste3 += [i]  # liste[i] = liste[i] + i
  print(liste3[i])

0
1
2
3
4
5

In [ ]:
liste3 += "SABIR"
print(liste3)

[0, 1, 2, 3, 4, 5, 'S', 'A', 'B', 'I', 'R']

In [ ]:
print(liste2 + liste3)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 'S', 'A', 'B', 'I', 'R']

Listeler arasında karşılaştırma yapılabilir:

In [ ]:
liste2 == liste3

False

In [ ]:
liste2 < liste3

True

In [ ]:
liste2 > liste3

10

**Ödev:** Elimizde bir liste var. Bu listenin  normalizasyonunun yer aldığı yeni bir liste üreten fonksiyon yazınız.

In [ ]:
def normalizasyon (l):    # Ders kaydinda bulunan
  total = sum(l)
  normalized_list = [val/total for val in l]
  return normalized_list

liste4 = [23,34,454,45]
print(normalizasyon(liste4))

[0.04136690647482014, 0.06115107913669065, 0.8165467625899281, 0.08093525179856115]

In [ ]:
def normalizasyon (l):  # Benim yazdigim
  total = sum(l)
  normalized_list =[]
  for i in range(len(l)):
    normalized_list.append(l[i]/total)
  return normalized_list

liste4 = [23,34,454,45]
print(normalizasyon(liste4))

[0.04136690647482014, 0.06115107913669065, 0.8165467625899281, 0.08093525179856115]

Tuple tanımı:

In [ ]:
t = ()

In [ ]:
t

()

In [ ]:
t = (1,)

In [ ]:
t

(1,)

Tuple listeden farklı olarak değiştirilemez:

In [ ]:
t[0] = 100020  #HATA: TypeError: 'tuple' object does not support item assignment

TypeError: ignored

`tuple`'ı başka bir tuple'a aktarmak mümkündür:

In [ ]:
t2 = ()
t2 = t

In [ ]:
t2

(1,)

`tuple` leri toplamak mümkündür:

In [ ]:
t3 = (112,34,5456,6543,"Sabir", "Suleymanli")
t4 = t3 + t
t5 = t +t3

In [ ]:
t4

(112, 34, 5456, 6543, 'Sabir', 'Suleymanli', 1)

In [ ]:
t5

(1, 112, 34, 5456, 6543, 'Sabir', 'Suleymanli')

Listeye Tuple eklemek mümkündür, fakat tuple'a liste eklemek mümkün değildir:

In [ ]:
liste1+= t5

In [ ]:
liste1

[1,
 'Sabir',
 [1, 2, 3, 4, 5, 6],
 (10, 20, 30, 40),
 1,
 1,
 1,
 112,
 34,
 5456,
 6543,
 'Sabir',
 'Suleymanli']

In [ ]:
t5 += liste1 #HATA: TypeError: can only concatenate tuple (not "list") to tuple

TypeError: ignored

Bildiğimiz gibi bir tuple'in elemanını indeks üzerinden değiştirmek mümkün değildir. Fakat eğer `tuple` ın elemanları arasında liste varsa, ozaman 2 parametreli indeksle bulunan listeye erişip eleman ekleme mümkündür:

In [ ]:
tuple1 = (1,2,3,4,['a','b','c','d'])

In [ ]:
tuple1[4] = 0 #HATA: TypeError: 'tuple' object does not support item assignment

TypeError: ignored

In [ ]:
tuple1[4][3] = 0
print(tuple1)

(1, 2, 3, 4, ['a', 'b', 'c', 0])

In [ ]:
ozel_liste = list(range(5,10))

`enumerate() ` built in fonksiyonu, hem listenin elemanları hem de listenin indeksleri gösterir:

In [ ]:
enumerate(ozel_liste)

In [ ]:
list(enumerate(ozel_liste))

[(0, 5), (1, 6), (2, 7), (3, 8), (4, 9)]

In [ ]:
for i,j in enumerate(ozel_liste):
  print(f'Indeks: {i:>3}  Deger: {j:>3}')

Indeks:   0  Deger:   5
Indeks:   1  Deger:   6
Indeks:   2  Deger:   7
Indeks:   3  Deger:   8
Indeks:   4  Deger:   9

In [ ]:
  ozel_liste = ['a','b','c',1,2,3,4,5,6,7,8,9]

`del` keywordu ile listenin istediğimiz kısmını (hepsini de olabilir) bellekten silebiliriz:

In [ ]:
del ozel_liste[2:8]

In [ ]:
ozel_liste

['a', 'b', 6, 7, 8, 9]

In [ ]:
del ozel_liste[:]

In [ ]:
ozel_liste

[]

In [ ]:
del ozel_liste[

SyntaxError: ignored

In [ ]:
  ozel_liste = ['a','b','c',1,2,3,4,5,6,7,8,9]
  del ozel_liste

In [ ]:
ozel_liste # Hafizadan silindigi icin NameError: name 'ozel_liste' is not defined hatasi vermekte

NameError: ignored

In [ ]:
def ikiileCarp(x):
  """ Listenin her elemanini 2 ile carpip yeniden listeye ekleyen fonksiyon """

  for i in range(len(x)):
    x[i] = x[i]*2
  for j in range(len(x)):
    print(x[j])

In [ ]:
ozel_liste = ['a','b','c',1,2,3,4,5,6,7,8,9]
ikiileCarp(ozel_liste)

aa
bb
cc
2
4
6
8
10
12
14
16
18

##`.count()` fonksiyonu
Aldığı input parametresinden listede kaç tane bulunduğu bilgisini geri döner. Örn:

In [ ]:
  ozel_liste = ['a','b','c',1,2,3,4,5,6,7,8,9,2,4,87,9,6,6]
  ozel_liste.count(6)

3

##`.sorted()` fonksiyonu
Listeyi küçükten byüüğe sıralar. (String ve integer değerler bulunan listelerde bu iki veri türünü kıyaslayamadığı için `TypeError: '<' not supported between instances of 'int' and 'str'` hatasını verir)

In [ ]:
ozel_liste = [1,2,3,6,7,8,9,2,4,87,9,6,6]
sorted(ozel_liste)

[1, 2, 2, 3, 4, 6, 6, 6, 7, 8, 9, 9, 87]

`reverse` parametresinin değerine göre bu listeyi tersten (küçükten büyüğe) de sıralayabiliriz:

In [ ]:
sorted(ozel_liste,reverse =True)

[87, 9, 9, 8, 7, 6, 6, 6, 4, 3, 2, 2, 1]